// Place your custom code here...

.site-logo {
	text-align: left;
}

.site-title-link {
		padding: 0;
	.site-title {
		margin-left: 10px;
		font-size: 2em;
		margin-bottom: -20px;
	}
}

.site-nav {
	margin-top: 0em;
}

pre {
        white-space: pre-wrap !important;       /* CSS 3 */
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -pre-wrap !important;      /* Opera 4-6 */
        white-space: -o-pre-wrap !important;    /* Opera 7 */
        word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
        overflow: auto !important;
        width: 75%;
    }

blockquote {
	color: ghostwhite;
	border: 10px solid grey;
	background-color: #2b1d0e;
	border-radius: 25px;
	padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
	background-color: $light-gray;
	padding: $baseline/4 $baseline*1.5;
	margin-bottom: $baseline;
	position: relative;
	overflow: hidden;
	font-size: 24px;

	.line1,
	.line2 {
		position: absolute;
		width: $baseline;
	}

	.line1 {
		background-color: $gray;
		top: 0;
		left: 0;
		bottom: 0;
	}

	.line2 {
		background-color: $dark-gray;
		bottom: 100%;
		left: 0;
		height: 100%;
		max-height: 100%;
		-webkit-transition: all .5s ease-in;
		        transition: all .5s ease-in;
	}

	&:hover {
		.line2 {
			bottom: 0;
		}
	}

}



h1	{
	background-color: $light-blue;
	box-shadow: 0 15px 2px -10px $blue;
	h3 {
		color: $dark-blue;
	}
	.line1 {
		background-color: $blue;
	}
	.line2 {
		background-color: $dark-blue;
	}
}

h2	{
	background-color: $light-green;
	box-shadow: 0 15px 2px -10px $green;
	h3 {
		color: $dark-green;
	}
	.line1 {
		background-color: $green;
	}
	.line2 {
		background-color: $dark-green;;
	}
}

h3	{
	background-color: $light-orange;
	box-shadow: 0 15px 2px -10px $orange;
	h3 {
		color: $dark-orange;
	}
	.line1 {
		background-color: $orange;
	}
	.line2 {
		background-color: $dark-orange;
	}
}

h4 {
	background-color: $light-red;
	box-shadow: 0 15px 2px -10px $red;
	h3 {
		color: $dark-red;
	}
	.line1 {
		background-color: $red;
	}
	.line2 {
		background-color: $dark-red;
	}
}

a {
	color: #00B2EE;
	text-decoration: underline;
	&:hover {
		color: crimson;
		font-weight: bold;
	}
}

.post-title-link {
	color: black;
	background-color: skyblue !important;
	h1 {
		margin: 0;
		font-weight: normal;
	}
	&:hover {
		color: white !important;
	}
}